*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    color: red !important ;
}
nav{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container{
    width: 1220px;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.navMenu ul{
    display: flex;
    gap: 30px;
}
.navMenu ul li{
    list-style: none;
}
.navMenu ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.menuBar{
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}