*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    color: red !important ;
}
nav{
    background-color: black;
    color: #fff;
    padding: 20px 0;
}
.container{
    width: 1220px;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.navMenu ul{
    display: flex;
    gap: 30px;
}
.navMenu ul li{
    list-style: none;
}
.navMenu ul li a{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.menuBar{
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* ************************************************ */

@media (max-width: 768px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .logo a{
        font-size: 16px;
    }
    .navMenu{
        display: none;
        position: relative;
    }
    .menuBar{
        display: block;
    }
    .menuBar ul{
        border: 1px solid #fff;
        position: absolute;
        left: 0;
        top: 65px;
        background-color: #000;
        width: 100%;
        padding-left: 10px;
        height: 100vh;
    }
    .menuBar ul li{
        margin-top: 10px;
    }
    .menuBar ul li a{
        color: #fff;
        text-decoration: none;
    }
 }
@media (max-width: 992px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
 }
@media (max-width: 1200px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
 }